@import "tailwindcss";
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000;
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}